@font-face {
  font-family: "Cormorant";
  src: url(../fonts/Cormorant-Medium.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NotoSansKR";
  src: url(../fonts/NotoSansKR-Medium.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Questrial";
  src: url(../fonts/Questrial-Regular.ttf) format("truetype");
  font-weight: normal;
}