@import url(../style/common.css);
.preview {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 6vw);
  height: 100vh;
  z-index: 1000;
  opacity: 1;
  overflow: hidden;
}
.preview .f_container {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.preview .f_container .loader {
  width: 90px;
  height: 14px;
  background: radial-gradient(circle closest-side, var(--c)) -25% 0, radial-gradient(circle closest-side, var(--c)) 25% 0;
  background-size: 50% 100%;
  animation: upDown 1.5s infinite;
}
@keyframes upDown {
  0% {
    background-position: -25% 0, 25% 0;
  }
  50% {
    background-position: -25% -14px, 25% 14px;
  }
  100% {
    background-position: 25% -14px, 75% 14px;
  }
}

.intro {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.intro video {
  position: absolute;
  top: 50%;
  right: -13%;
  transform: translateY(-50%);
  width: calc(100% - 3vw);
  height: 80vh;
}
.intro .main_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: max(5vw, 26px);
  text-transform: uppercase;
}
.intro .main_text .headline {
  letter-spacing: 2px;
  font-weight: bold;
  overflow: hidden;
}
.intro .main_text .headline span {
  display: block;
}

.about {
  position: relative;
  height: 90vh;
  overflow: hidden;
}
.about .about_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  height: 90%;
}
.about .about_txt .circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.665%;
  aspect-ratio: 1/1;
  border: 2px solid rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  border-radius: 50%;
  font-size: 22px;
}
.about .about_txt .circle::before, .about .about_txt .circle::after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 22px;
}
.about .about_txt .circle::before {
  content: "Open-minded";
  left: var(--about-left);
}
.about .about_txt .circle::after {
  content: "Passionate";
  right: var(--about-right);
}
.about .about_txt .bio {
  font-size: 20px;
}
.about::after {
  content: "";
  width: 1px;
  height: 145px;
  background-color: var(--white);
  opacity: 0.3;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.work {
  position: relative;
}
.work .f_container {
  justify-content: center;
}
.work .list {
  display: flex;
  flex-direction: column;
  margin: 150px 0 300px;
  width: 60%;
}
.work .col_item {
  width: -moz-fit-content;
  width: fit-content;
  height: 50vh;
  aspect-ratio: 1/1;
  opacity: 0;
  transform: translateY(10%);
}
.work .col_item:nth-child(even) {
  margin-left: auto;
  margin-top: -5vw;
}
.work .col_item .item_img {
  aspect-ratio: 1/1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: brightness(0.7);
  transition: background-size 1s ease-in-out;
}
.work .col_item .item_img:hover {
  background-size: 105% 105%;
}
.work .col_item .item_cont {
  position: relative;
  margin: 15px 0 30px;
  z-index: 2;
}
.work .col_item .item_cont .cont_tit {
  font-weight: bold;
  stroke: #000;
  font-size: 24px;
  font-family: var(--font-ko);
}
.work .col_item .cont_tag {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  gap: 15px;
  font-size: 14px;
  overflow: hidden;
}
.work .col_item .cont_tag li {
  position: relative;
  color: transparent;
}
.work .col_item .cont_tag li::before, .work .col_item .cont_tag li::after {
  position: absolute;
  left: 0;
  content: attr(data-text);
  color: var(--white);
  transition: transform 0.5s;
}
.work .col_item .cont_tag li::before {
  transform: translateY(0%);
}
.work .col_item .cont_tag li:after {
  transform: translateY(170%) skew(0, 15deg);
}
.work .col_item:hover .cont_tag li::before {
  transform: translateY(-170%) skew(0, 15deg);
}
.work .col_item:hover .cont_tag li:after {
  transform: translateY(0);
}
.work::after {
  content: "";
  width: 1px;
  height: 145px;
  background-color: var(--white);
  opacity: 0.3;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.extra_work .extra_list {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}
.extra_work .extra_list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 1s ease-in-out;
}
.extra_work .extra_list li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 3rem;
  color: var(--white);
  font-family: var(--font-ko);
  transition: all 1s ease-in-out;
}
.extra_work .extra_list li a .list_tit {
  font-size: 28px;
}
.extra_work .extra_list li a .explan {
  font-size: 20px;
  word-break: keep-all;
}
.extra_work .extra_list li:hover {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 80%, transparent 100%);
}
.extra_work .extra_list li:hover a {
  padding: 5rem 3rem;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  text-align: center;
  font-size: 12vw;
  letter-spacing: 5px;
  overflow: hidden;
}
.contact .txt {
  transition: all 1s ease;
}
.contact:hover .txt {
  transform: scale(1.05);
}

.footer p {
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}

@media (max-width: 1600px) {
  .work .col_item {
    height: 45vh;
  }
}
@media (max-width: 1499px) {
  .work .list {
    width: 65%;
  }
}
@media (max-width: 1319px) {
  .about .about_txt .circle {
    font-size: max(1.7vw, 15px);
  }
  .about .about_txt .circle::before, .about .about_txt .circle::after {
    font-size: max(1.7vw, 15px);
  }
  .about .about_txt .bio {
    font-size: max(1.4vw, 12px);
  }
  .work .list {
    width: 75%;
  }
  .work .col_item {
    height: 40vh;
  }
  .work .col_item .item_cont .cont_tit {
    font-size: max(1.6vw, 16px);
  }
  .extra_work .extra_list li a .list_tit {
    font-size: max(1.8vw, 16px);
  }
  .extra_work .extra_list li a .explan {
    font-size: max(1.3vw, 13px);
  }
  .footer p {
    font-size: max(1.8vw, 14px);
  }
}
@media (max-width: 1023px) {
  .about .about_txt .circle {
    width: 22.22%;
  }
  .work .list {
    gap: 80px;
  }
  .work .col_item {
    margin-top: 20px;
  }
  .work .col_item:nth-child(even) {
    margin-top: 20px;
  }
  .extra_work .extra_list li a {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .extra_work .extra_list li a .list_tit {
    position: relative;
    width: 100%;
    font-size: max(3vw, 18px);
  }
  .extra_work .extra_list li a .list_tit::after {
    content: "view the website";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 12px;
  }
  .extra_work .extra_list li a .explan {
    opacity: 0.65;
  }
}
@media (max-width: 767px) {
  .work .list {
    margin: 100px 0 260px;
  }
  .work .col_item .item_img {
    background-size: cover;
    background-position: center;
  }
  .work .col_item .item_img:hover {
    background-size: cover;
  }
  .work .col_item:nth-child(1) .item_img {
    background-position: right;
  }
  .extra_work .extra_list {
    margin-top: 100px;
  }
}
@media (max-width: 599px) {
  .intro .main_text p {
    width: -moz-max-content;
    width: max-content;
  }
  .about .about_txt {
    justify-content: space-evenly;
  }
  .about .about_txt .circle {
    width: 33.33%;
  }
  .about .about_txt .circle::before {
    left: var(--about-left);
    bottom: var(--about-left);
  }
  .about .about_txt .circle::after {
    right: var(--about-right);
    bottom: var(--about-right);
  }
  .work .list {
    width: 100%;
  }
  .work .col_item {
    width: 100%;
  }
  .work .col_item .item_img {
    height: 100%;
    aspect-ratio: 0;
    background-size: cover;
  }
  .work .col_item .cont_tag {
    font-size: 12px;
  }
  .extra_work .extra_list li a {
    padding: 3rem 1rem;
  }
  .extra_work .extra_list li a .list_tit::after {
    display: none;
  }
  .extra_work .extra_list li:hover a {
    padding: 3rem 1rem;
  }
  .contact {
    height: 15vh;
  }
}
@media (max-width: 425px) {
  .footer p {
    text-align: center;
  }
}